#wcibu_wrapper {
position: relative;
width: 60%;
background-color: white;
margin: auto;
box-shadow: 0px 12px 25px 0px rgba(132, 223, 220, 0.3);
display: flex;
flex-direction: column;
justify-content: center;
padding: 16px;
}
@media screen and (max-width: 567px) {
    #wcibu_wrapper {
        width: 85%;
    }
}

#wcibu_wrapper h3{
text-align: center;
}

#wcibu_customImg {
text-align: center;
display: block;
margin: 0 auto;
border: 1px dashed #7c7c7c;
padding: 15px;
}

#wcibu_wrapped{
/* border: 2px dashed #d9f0ef; */
padding: 10px;

}

#wcibu_uploadBtn{
    display: block;
    margin: 1rem auto;
    padding: 6px 16px;
    font-size: 20px;
    background: transparent;
    border: 1px solid #ccc;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    color: #ffffff;
    border-color: var(--ast-global-color-0);
    background-color: var(--ast-global-color-0);
}

#wcibu_uploadBtn:hover{
color: white;
background: #009feb;
border-color: transparent;
}

/* Result */
#wcibu_msg{
    display: block;
    text-align: center;
}
    /* In Msg */
    .wcibu_msg_err{
        color: rgb(255, 0, 0);
    }
    .wcibu_msg_suc{
        color: rgb(0, 184, 9);
        padding: 15px 2px;
    }


    .wcibu_res_img{
        /* position: absolute; */
        /* top: 0; */
        max-width: 80%;
        display: block;
        margin: 0 auto;
        /* right: -210px; */
    }

